/**********
 VARIABLES 
 **********/
:root {
  /* colors */
  --blue: #5093E2;
  --gold: #F3BF99;
  --gray: #DCDCDC;
  --light: #F5F5F5;
  --bgMid: #1A1B21;
  --bgDark: #161619;

  /* sizes */
  --tiny: .75rem;
  --small: .8875rem;
  --big: 1.5625rem;
  --icon: 25px;
  
}
#text {
  background-color: var(--bgMid);
  color: white;
}