/**********
 VARIABLES 
 **********/
:root {
  /* colors */
  --blue: #5093E2;
  --gold: #F3BF99;
  --gray: #DCDCDC;
  --light: #F5F5F5;
  --bgMid: #1A1B21;
  --bgDark: #161619;

  /* sizes */
  --tiny: .625rem;
  --pico: .8rem;
  --small: .8875rem;
  --big: 1.5625rem;
  --icon: 25px;
  --smallIcon: 16px;

  /* font weights */
  --thin: 400;
  --semiBold: 600;
  --bold: 700;
}

/**********
 CONTAINERS 
 **********/
 *,
 *::before,
 *::after {
   text-decoration: none;
 }
 body {
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif; 
}
#container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas: 
    "a a a"
    ". b ."
    "c c c";

  width: 317px;
  height: 710px;

  border-radius: 15px 15px 0 0;
  
  background-color: var(--bgMid);
}
#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: b;
}
#socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: c;
  
  background: var(--bgDark);
  height: 64px;
  border-radius: 0 0 15px 15px;
}

/************
 MAIN SECTION 
 ************/
#mainContainer main {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
#mainContainer h3 {
  margin: .75em 0 .1em 0;
  font-size: var(--big);
  color: var(--light);
  text-align: center;
}
#mainContainer h4 {
  margin: 0;
  color: var(--gold);
  text-align: center;

  font-size: var(--pico);
  font-weight: var(--thin);
  letter-spacing: -.03em;
}
#mainContainer main a {
  padding: .75em .75em 1.55em;
  
  font-size: var(--tiny);
  color: var(--light);
}
#buttons {
  display: flex;
  justify-content: space-between;
}
#buttons a { 
  display: flex;
  border-radius: 5px;
  padding: 7px 15px;
  background: var(--light);
  color: var(--bgDark);
  font-size: var(--small);
 }
 #buttons a:nth-child(2) {
   background: var(--blue);
   color: var(--light);
 }
 #buttons img {
   height: var(--smallIcon);
   padding-right: .5em;
 }
#text {
  margin: 1.25em 0 1.3em 0;

  color: var(--gray);
  font-weight: var(--thin);
  letter-spacing: .11em;
}
#text h6 {
  margin: 1em 0 0 0;
  
  font-size: var(--small);
  font-weight: var(--semiBold);
  color: var(--light);
}
#text p {
  margin: .75em 0;

  line-height: 1.2em;
  font-size: var(--tiny);
}

/**************
 FOOTER SECTION 
 **************/
#socials img {
  height: var(--icon);
  width: var(--icon);
}